<section class="biography">
  <div class="container">
    <header class="page-header">
      <h1>{{ 'about.title' | translate }}</h1>
    </header>

    <div class="biography-content">
      <div class="biography-main">
        <figure class="biography-photo">
          <img
            src="/assets/images/biography-portrait.jpg"
            [attr.alt]="'about.photoAlt' | translate"
            width="400"
            height="500"
            loading="lazy"
          />
        </figure>

        <div class="biography-text">
          <h2>{{ 'about.shortTitle' | translate }}</h2>
          <p *ngFor="let paragraph of t('about.content.short')">{{ paragraph }}</p>

          <h2>{{ 'about.longTitle' | translate }}</h2>
          <p *ngFor="let paragraph of t('about.content.long')">{{ paragraph }}</p>

          <h3>{{ 'about.formationTitle' | translate }}</h3>
          <ul class="formation-list">
            <li *ngFor="let item of t('about.formation')">{{ item }}</li>
          </ul>

          <h3>{{ 'about.awardsTitle' | translate }}</h3>
          <ul class="awards-list">
            <li *ngFor="let award of t('about.awards')">
              <strong>{{ award.name }}</strong> {{ award.detail }}
            </li>
          </ul>

          <h3>{{ 'about.residenciesTitle' | translate }}</h3>
          <ul class="residencies-list">
            <li *ngFor="let item of t('about.residencies')">{{ item }}</li>
          </ul>
        </div>
      </div>

      <aside class="biography-sidebar">
        <div class="sidebar-card">
          <h3>{{ 'about.dataTitle' | translate }}</h3>
          <dl class="professional-data">
            <ng-container *ngFor="let item of t('about.data')">
              <dt>{{ item.label }}</dt>
              <dd>
                <a *ngIf="item.href" [href]="item.href">{{ item.value }}</a>
                <span *ngIf="!item.href">{{ item.value }}</span>
              </dd>
            </ng-container>
          </dl>
        </div>

        <div class="sidebar-card">
          <h3>{{ 'about.collaborationsTitle' | translate }}</h3>
          <ul class="collaborations-list">
            <li *ngFor="let item of t('about.collaborations')">{{ item }}</li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>
